<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Document Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> Page</h1>
    <p>Welcome <%= title%> page</p>

    <form method="POST" action="">
      <label>Enter Eid : </label><input type="text" name="eid" id="eid" />
      <br/>
      <label>Enter Name : </label><input type="text" name="name" id="name" />
      <br/>
      <input type="submit" value="Add" name="add" id="add" />
    </form>

   <p>comment : <%= comment%></p>
  </body>
</html>
